* { margin:0; padding:0; }
body { color:#333; font: 15px/1.5 constantia, palatino, "times new roman"; padding: 20px 0 60px 0; }

h1 { text-align: left; font-weight: normal; font-size: 1.8em; color:#000; }
h2 { font-size: 1em; font-weight:normal; color:#999; text-align: left; margin:0 auto 30px auto; 
  border-bottom:1px solid #ddd; width:550px; }
h3 { font-weight:bold; margin:0 0 10px 0; }

h2.section {
  padding: 20px; 
  margin:0 auto 20px auto;
  width:480px;
  border-top: 1px solid #ddd;
}

p { margin:0 0 20px 0; }
p.date { text-align: center; font-style:italic; color:#999; margin: 0 0 30px 0; }
p.contact {
  color:#666;
  padding: 20px; margin: 0 0 20px -20px; width: 550px;
  border-top:1px solid #ddd; 
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
}

ul,ol { margin:0 0 20px 40px; }
ul li, ol li { margin: 0 0 5px 0; }

blockquote { border: 1px solid #ddd; padding: 25px 25px 5px 25px; margin:0 0 20px 0;
  font-style:italic; 
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd; 
  }

/*img { text-align: center; padding: 10px; border: 1px solid #ddd; margin: 0 auto; 
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd; 
}*/


pre { font-size:10px; line-height:1.5; border:1px solid #ddd;
  padding: 20px; margin: 0 0 20px 0;
  font-family: menlo, monaco, courier, monospace;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd; 
  overflow:auto;
}

pre code {
  font-size: 11px;
}

a { color:#000; text-decoration:none; }
a:hover { text-decoration: underline; }
p a, ul a, ol a, blockquote a { text-decoration:underline; }

ul.posts { list-style-type:none; text-align:left; margin:0 auto 40px auto; width: 600px; text-align:center; }
ul.posts li { line-height:2.5; font-size:1.3em; }
/*ul.posts span { float: left; width:100px; padding:0 15px 0 0; text-align: right; color:#ccc; }*/
#content { margin:0 auto; width:600px; }
.post { padding:0 0 20px 0; }

.post p { text-align: justify; }

#foot {
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd; 
  
  padding: 20px 20px 1px 20px;
  width: 480px;
  margin: 0 auto;
  text-align: center;
  border:1px solid #ddd;
}

a#logo span { display:none; }
a#logo { display:block; width:500px; height:300px; margin:-320px auto 20px auto; }

#foot ul { list-style-type:none; margin:0 0 20px 0; }
#foot li { display:inline; }
#foot p { font-size:12px; color:#666; }




