/**********************************************************************************************

  CSS on Sails Framework
  Title: Clean Up Your Mess
  Author: XHTMLized (http://www.xhtmlized.com/)
  Date: July 2010

***********************************************************************************************

  1. BASE
      1.1 Reset
      1.2 Accessibility Navigation & Hide
      1.3 Clearfix
      1.4 Default Styles

  2. COMMON
      2.1 Container
      2.2 Header
      2.3 Navigation
      2.4 Content
      2.5 Sidebar
      2.6 Footer

  3. PAGES
      3.1 Home page

***********************************************************************************************/

/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
a, ins, del { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { vertical-align: top; }
th { text-align: left; }

/* 1.2 Accessibility Navigation & Hide
-----------------------------------------------------------------------------------------------*/

#accessibility-nav, .hide { position: absolute; top: -999em; left: -999em; height: 1px; width: 1px; }

/* 1.3 Clearfix
-----------------------------------------------------------------------------------------------*/

#footer .footer-top:after,
#navigation:after,
#header:after,
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* 1.4 Default Styles
-----------------------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Quicksand';
	src: url('quicksand_book-webfont.eot');
	src: local('☺'), url('quicksand_book-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('quicksand_bold-webfont.eot');
	src: local('☺'), url('quicksand_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Constantia';
	src: url('constantia_italic-webfont.eot');
	src: local('☺'), url('constantia_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Constantia';
	src: url('constantia_bold_italic-webfont.eot');
	src: local('☺'), url('constantia_bold_italic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Constantia';
	src: url('constantia-webfont.eot');
	src: local('☺'), url('constantia-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Constantia';
	src: url('constantia_bold-webfont.eot');
	src: local('☺'), url('constantia_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html { background: #fff; }
body { color: #000; font-size: 18px; font-family: 'Constantia'; }
hr { display: none; }
strong { font-weight: bold; }
em { font-style: italic; }
del { text-decoration: line-through; }
th { font-weight: normal; }
address, cite, dfn { font-style: normal; }
li { list-style: none; }
abbr, acronym { border-bottom: 1px dotted #999; cursor: help; }
input, textarea, select { font-family: Verdana, "Arial", "Helvetica", sans-serif; }
a, a:visited { color: #477c00; text-decoration: underline; }
a:hover, a:active { color: #477c00; text-decoration: none; }

/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 2.1 Container
-----------------------------------------------------------------------------------------------*/

/* 2.2 Header
-----------------------------------------------------------------------------------------------*/

#header {  }
#header h1 { height: 100px; }
#header h1 a { display: block; height: 100px; background: url(../images/logo_cleanupyourmess.png) no-repeat; text-indent: -8000px; }

/* 2.3 Navigation
-----------------------------------------------------------------------------------------------*/

#navigation {  }

/* 2.4 Content
-----------------------------------------------------------------------------------------------*/

#content {  }
#content h2 { clear: both; height: 79px; margin: 0 0 08px 0; padding: 0 0 0 10px; background: url(../images/bg_h2.png) no-repeat 0 11px; font-size: 87px; overflow: hidden; }
#content h2 span { display: block; margin: -40px 0 0 0; font-weight: normal; }
.opera #content h2 span { margin: -29px 0 0 0; }
#content h3 { clear: both; margin: 0 0 20px 0; padding: 0 0 0 10px; font-family: 'Quicksand'; font-size: 30px; background: url(../images/bg_h3.png) no-repeat 0 17px; }
#content h4 { clear: both; margin: 0 0 22px 0; padding: 44px 0 0 10px; font-family: 'Quicksand'; font-size: 30px; background: url(../images/bg_h4.png) no-repeat 0 0; }
#content h5 { clear: both; margin: 0 0 20px 0; padding: 0 0 0 10px; font-family: 'Quicksand'; font-size: 20px; background: url(../images/bg_h3.png) no-repeat 0 15px; }
#content p { line-height: 27px; padding: 0 0 27px 7px; }
#content .hr { display: block; clear: both; height: 49px; background: url(../images/bg_hr.png) no-repeat 0 14px; }
#content img.right { float: right; }

h2,h3,h4,h5 {font-style:normal;}

/* 2.5 Sidebar
-----------------------------------------------------------------------------------------------*/

#sidebar {  }

/* 2.6 Footer
-----------------------------------------------------------------------------------------------*/

#footer {  }

/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/

/* 3.2 Preface
-----------------------------------------------------------------------------------------------*/
#preface-content{padding:0 0 20px;}


/* Stroop Effect */
.red {color:red;}
.green {color:green;}
.blue {color:blue;}
.orange {color:orange;}
.yellow {color:#eee177;}
.purple {color:purple;}

img.topalign {
  margin-top:6px;
}