@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 16, ../src/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../src/_defaults.scss */
.serif, body {
  font-family: Constantia, Cambria, Georgia, serif;
}

/* line 23, ../src/_defaults.scss */
.sans {
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, ../src/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, ../src/_defaults.scss */
.caps, .allcaps, caption, .smallcaps {
  letter-spacing: 0.1em;
}

/* line 32, ../src/_defaults.scss */
.allcaps, caption {
  text-transform: uppercase;
}

/* line 36, ../src/_defaults.scss */
.smallcaps {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 42, ../src/_defaults.scss */
body {
  color: black;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 55, ../src/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 60, ../src/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 68, ../src/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 70, ../src/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, ../src/_defaults.scss */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 75, ../src/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 80, ../src/_defaults.scss */
h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Inline -------------------------------------------------------------- */
/* line 87, ../src/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 90, ../src/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 93, ../src/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 97, ../src/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 100, ../src/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 103, ../src/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 107, ../src/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 110, ../src/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 113, ../src/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 118, ../src/_defaults.scss */
small {
  font-size: 0.667em;
  line-height: 2.25em;
}

/* line 121, ../src/_defaults.scss */
q {
  font-style: italic;
}
/* line 123, ../src/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 131, ../src/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 134, ../src/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 141, ../src/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 147, ../src/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 154, ../src/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 158, ../src/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 161, ../src/_defaults.scss */
ul {
  list-style: disc;
}
/* line 163, ../src/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 166, ../src/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 170, ../src/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 176, ../src/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 182, ../src/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 185, ../src/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 188, ../src/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 193, ../src/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.056em;
  padding-bottom: 0.694em;
}

/* line 196, ../src/_defaults.scss */
tfoot {
  font-size: 0.778em;
  line-height: 1.929em;
}

/* Forms -------------------------------------------------------------- */
/* line 204, ../src/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.056em;
  padding: 1.444em;
}

/* line 208, ../src/_defaults.scss */
legend {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

/* line 212, ../src/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 215, ../src/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 218, ../src/_defaults.scss */
label {
  font-weight: bold;
}

/* line 223, ../src/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.929em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.411em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: black;
  height: 2.893em;
}

/* line 234, ../src/_defaults.scss */
textarea {
  height: 12.536em;
  vertical-align: text-bottom;
}

/* line 245, ../src/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 247, ../src/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 250, ../src/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

@font-face {
  font-family: 'Quicksand';
  src: url("quicksand_book-webfont.eot");
  src: local("☺"), url("quicksand_book-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("quicksand_bold-webfont.eot");
  src: local("☺"), url("quicksand_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Constantia';
  src: url("constantia_italic-webfont.eot");
  src: local("☺"), url("constantia_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Constantia';
  src: url("constantia_bold_italic-webfont.eot");
  src: local("☺"), url("constantia_bold_italic-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Constantia';
  src: url("constantia-webfont.eot");
  src: local("☺"), url("constantia-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Constantia';
  src: url("constantia_bold-webfont.eot");
  src: local("☺"), url("constantia_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 112.5%;
  line-height: 1.5em;
}

/* line 33, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 18px;
}

/* line 13, ../src/screen.scss */
#page {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 976px;
  max-width: 100%;
  background-image: url('/images/grid.png?1299212175');
  background-repeat: repeat;
  background-position: 16px 0;
}
/* line 22, ../../../../../.rvm/gems/ree-1.8.7-2010.02@cym/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Styles -------------------------------------------------------------- */
/* line 23, ../src/screen.scss */
a {
  text-decoration: none;
}

/* line 24, ../src/screen.scss */
#header h1 {
  height: 181px;
}

/* line 25, ../src/screen.scss */
#header h1 a {
  display: block;
  height: 181px;
  background: url(../images/logo_cleanupyourmess.png) no-repeat;
  text-indent: -8000px;
}

/* line 29, ../src/screen.scss */
#footer .footer-top:after,
#navigation:after,
#header:after {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../src/screen.scss */
#content h2.preface {
  clear: both;
  font-size: 1.667em;
  line-height: 1.8em;
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/bg_h3.png) no-repeat 0 29px;
  margin-bottom: 0;
  padding-top: 0;
}

/* line 41, ../src/screen.scss */
#content h2 {
  clear: both;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 1.639%;
  font-size: 1.667em;
  line-height: 1.8em;
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/bg_h4.png) no-repeat 0 -8px;
  padding-top: 27px;
  margin-left: 0;
}

/* line 51, ../src/screen.scss */
#content h3 {
  clear: both;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  font-size: 1.167em;
  line-height: 1.286em;
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/bg_h3.png) no-repeat 0 18px;
  margin-bottom: 1.286em;
  margin-left: 0;
  padding-left: 1.639%;
}

/* line 62, ../src/screen.scss */
#content .hr {
  display: block;
  clear: both;
  height: 49px;
  background: url(../images/bg_hr.png) no-repeat 0 14px;
}

/* line 63, ../src/screen.scss */
#content img.right {
  float: right;
}

/* line 65, ../src/screen.scss */
h2, h3, h4, h5 {
  font-style: normal;
}

/* line 67, ../src/screen.scss */
.main-content {
  display: inline;
  float: left;
  width: 63.934%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}

/* line 72, ../src/screen.scss */
.side-content {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  padding-left: 8.197%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -16px;
}

/* line 78, ../src/screen.scss */
.spread {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  background: url(../../_media/images/examples-bg.png) repeat-x 0 110px;
}

/* 2.5 Sidebar
-----------------------------------------------------------------------------------------------*/
/* 2.6 Footer
-----------------------------------------------------------------------------------------------*/
/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/
/* 3.2 Preface
-----------------------------------------------------------------------------------------------*/
/* line 102, ../src/screen.scss */
.preface-row {
  overflow: hidden;
  *zoom: 1;
  margin-left: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -16px;
}
/* line 107, ../src/screen.scss */
.preface-row .preface-image {
  display: inline;
  float: left;
  width: 31.148%;
  margin-right: 1.639%;
}
/* line 110, ../src/screen.scss */
.preface-row .preface-text {
  display: inline;
  float: left;
  width: 63.934%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -16px;
}

/* Stroop Effect */
/* line 118, ../src/screen.scss */
.red {
  color: red;
}

/* line 119, ../src/screen.scss */
.green {
  color: green;
}

/* line 120, ../src/screen.scss */
.blue {
  color: blue;
}

/* line 121, ../src/screen.scss */
.orange {
  color: orange;
}

/* line 122, ../src/screen.scss */
.yellow {
  color: #eee177;
}

/* line 123, ../src/screen.scss */
.purple {
  color: purple;
}

/* line 125, ../src/screen.scss */
img.topalign {
  margin-top: 6px;
}

/* List */
/* line 136, ../src/screen.scss */
.examples {
  background: url(../../_media/images/examples-bg.png) repeat-x 0 110px;
  padding-bottom: 17px;
  margin-top: -5px;
}

/* line 142, ../src/screen.scss */
.marginal {
  font-size: 0.667em;
  line-height: 2.25em;
}

/* line 146, ../src/screen.scss */
.caption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

/* line 152, ../src/screen.scss */
.flyers {
  margin-bottom: 1.5em;
}

/* line 156, ../src/screen.scss */
.kittens {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-bottom: 1.5em;
}

/* line 161, ../src/screen.scss */
.acatemy {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  overflow: hidden;
  *zoom: 1;
}
/* line 165, ../src/screen.scss */
.acatemy .ad {
  margin-right: 16px;
  /* not sure why we can't do 16 */
  float: left;
}
/* line 170, ../src/screen.scss */
.acatemy .ad:last-child {
  margin-right: 0;
}

/* line 175, ../src/screen.scss */
.books {
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}
/* line 179, ../src/screen.scss */
.books dd {
  padding-left: 0;
}
/* line 183, ../src/screen.scss */
.books dt {
  margin-top: 0;
}
/* line 187, ../src/screen.scss */
.books .book {
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}
/* line 191, ../src/screen.scss */
.books .book img {
  float: left;
  margin-right: 16px;
}
/* line 196, ../src/screen.scss */
.books .book dd {
  padding-left: 25.641%;
}
/* line 200, ../src/screen.scss */
.books .book .author {
  font-size: 0.722em;
  line-height: 2.077em;
}
