//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";

/* Layout -------------------------------------------------------------- */

@include susy;

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#page {
  @include container;
  @include show-grid("grid.png"); }

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */
a {text-decoration:none;}
#header h1 { height: 181px; }
#header h1 a { display: block; height: 181px; background: url(../images/logo_cleanupyourmess.png) no-repeat; text-indent: -8000px; }

#footer .footer-top:after,
#navigation:after,
#header:after {
  @include clearfix;
}

#content h2.preface {
  clear:both;
  @include adjust-font-size-to(30px);
  @include sans-family;
  background: url(../images/bg_h3.png) no-repeat 0 29px; 
  margin-bottom:0;
  padding-top:0;
}
#content h2 {
  clear:both;
  @include full;
  padding-left: gutter();
  @include adjust-font-size-to(30px);
  @include sans-family;
  background: url(../images/bg_h4.png) no-repeat 0 -8px;
  padding-top: $base-line-height;
  margin-left:0;
}
#content h3 {
  clear:both;
  @include full;
  @include adjust-font-size-to(21px);
  @include sans-family;
  background: url(../images/bg_h3.png) no-repeat 0 18px; 
  @include trailer(1, 21px);
  margin-left:0;
  padding-left: gutter();
}

#content .hr { display: block; clear: both; height: 49px; background: url(../images/bg_hr.png) no-repeat 0 14px; }
#content img.right { float: right; }

h2,h3,h4,h5 {font-style:normal;}

.main-content {
  @include columns(8);
  @include alpha;
}

.side-content {
  @include columns(3);
  @include prefix(1);
  @include omega;
}

.spread {
  @include full;
  background: url(../../_media/images/examples-bg.png) repeat-x 0 110px;
}

/* 2.5 Sidebar
-----------------------------------------------------------------------------------------------*/

#sidebar {  }

/* 2.6 Footer
-----------------------------------------------------------------------------------------------*/

#footer {  }

/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/

/* 3.2 Preface
-----------------------------------------------------------------------------------------------*/
.preface-row {
  @include clearfix;
  @include alpha;
  @include omega;
  
  .preface-image {
    @include columns(4);
  }
  .preface-text {
    @include columns(8);
    @include omega;
  }
}


/* Stroop Effect */
.red {color:red;}
.green {color:green;}
.blue {color:blue;}
.orange {color:orange;}
.yellow {color:#eee177;}
.purple {color:purple;}

img.topalign {
  margin-top:6px;
}

/* List */
#content {
  ol, ul {
    
  }
}

.examples {
  background: url(../../_media/images/examples-bg.png) repeat-x 0 110px;
  padding-bottom:17px;
  margin-top:-5px;
}

.marginal {
  @include adjust-font-size-to(12px)
}

.caption {
  font-size:12px;
  font-style:italic;
  text-align:center;
}

.flyers {
  @include trailer(1);
}

.kittens {
  @include full();
  @include trailer(1);
}

.acatemy {
  @include full();
  @include clearfix;
  
  .ad {
    margin-right:16px; /* not sure why we can't do 16 */
    float:left;
  }
  
  .ad:last-child {
    margin-right:0;
  }
}

.books {
  @include clearfix;
  margin-left:0;
  
  dd {
    padding-left:0;
  }
  
  dt {
    margin-top:0;
  }
  
  .book {
    @include clearfix;
    margin-left:0;
    
    img {
      float:left;
      margin-right:$gutter-width;
    }
    
    dd {
      @include prefix(2, 8);
    }
    
    .author {
      @include adjust-font-size-to(13px);
    }
  }
}