- require "../helpers/haml_helper"
- self.extend HamlHelper
!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Clean Up Your Mess - A Guide to Visual Design for Everybody: Discussion
    %link{:href => "_ui/stylesheets/screen.css?2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    
  %body.home
    #page
      #nav
        %ul
          %li
            %a.toc{:href => "index.html"} Guide
          %li
            %a.discussion{:href => "discussion.html"} Discussion
          %li
            %a.about{:href => "about.html"} About
      #header
        %h1.cleanupyourmess
          %a{:href => "/index.html", :rel => "home", :title => "Go to homepage"}
            %span.text Clean Up Your Mess: a Guide to Visual Design for Everyone
      #content
        %h2.preface About
        .main-content
          %p This site was created by <a href="www.flyingmachinestudios.com">Daniel Higginbotham</a>. From this point on, he will be using the first person rather than the third.
          %p The reason I created this site is because I love design, and I wanted to share that love with other people. I want everyone to feel like design is accessible, because I believe it is.
          %p Communication is central to our lives as human beings. In creating this guide, I hope to help others communicate better. I hope that, in my own small way, I'm helping to improve the lives of others.
      #footer
        .main-content
          %p This site is Copyright &copy; 2011 by Daniel Higginbotham.
          <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.visualmess.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:42px;" allowTransparency="true"></iframe>
        
      / / footer
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22306787-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
