%p
  %span.red purple
  %span.purple blue
  %span.yellow green
  %span.blue yellow
  %span.green red
  %span.purple red
  %span.blue purple
  %span.yellow green
  %span.green yellow
  %span.red blue
  %span.yellow blue
  %span.red yellow
  %span.blue green
  %span.purple red
  %span.green purple
  %span.green yellow
  %span.red blue
  %span.purple green
  %span.yellow red
  %span.blue purple
  %span.purple yellow
  %span.blue red
  %span.yellow blue
  %span.red green
  %span.green purple
  %span.red green
  %span.blue red
  %span.purple yellow
  %span.green purple
  %span.yellow blue
  %span.blue purple
  %span.purple green
  %span.yellow red
  %span.green blue
  %span.red yellow
  %span.green yellow
  %span.yellow red
  %span.red green
  %span.blue purple
  %span.purple blue
  %span.green blue
  %span.blue green
  %span.yellow purple
  %span.red yellow
  %span.purple red
  %span.purple green
  %span.blue yellow
  %span.red purple
  %span.yellow blue
  %span.green red
  %span.green yellow
  %span.blue green
  %span.yellow red
  %span.purple blue
  %span.red purple
  %span.blue yellow
  %span.red purple
  %span.green red
  %span.yellow blue